@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0 auto;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  width: 100%;
  background-color: #222;
  background-blend-mode: overlay;
}

/* LAYOUT */
header {
  position: relative;
  height: 35vh;
  width: 100%;
  border-bottom: 7px solid #eee;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.header-menu {
  width: 100%;
  display: inline-block;
}

.left-item {
  position: relative;
  margin: 3rem 0 0 3rem;
  float: left;
}

.right-item {
  position: relative;
  float: right;
  padding: 2rem 3rem;
  margin: 3.5rem 3rem 3rem 0;
}

.title {
  position: relative;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  /* width: 120px; */
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media only screen and (max-device-width: 480px) {
}
